<a href="https://colab.research.google.com/github/jakecho1108/Project-2/blob/main/Project_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
adult = pd.read_csv('/content/adult.csv')
adult.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

1. Source of data: 

Kaggle

2. Brief description of data: 

Dataset of adult income in the world with different factors such as education, race, gender, work class, etc. 

3. What is the target? 

Income bracket of the individual

4. What does one row represent? (A person?  A business?  An event? A product?) 

One row represents a person. 

5. Is this a classification or regression problem?

This is a classification problem, above 50k and below 50k. 

6. How many features does the data have?

The data has 14 features. 

7. How many rows are in the dataset?

48842 rows in the dataset.

8. What, if any, challenges do you foresee in cleaning, exploring, or modeling this dataset?

Not enough data from countries outside of United States.

In [11]:
insurance = pd.read_csv('/content/Car_Insurance_Claim.csv')
insurance.head()
insurance['VEHICLE_YEAR'].value_counts()

before 2015    6967
after 2015     3033
Name: VEHICLE_YEAR, dtype: int64

1. Source of data: 

Kaggle

2. Brief description of data: 

Dataset of car insurance holders

3. What is the target? 

Whether the customer claimed his/her loan.

4. What does one row represent? (A person?  A business?  An event? A product?) 

One row represents a person. 

5. Is this a classification or regression problem?

This is a classification problem, has claimed or has not claimed. 

6. How many features does the data have?

The data has 19 features.

7. How many rows are in the dataset?

10,000 rows in the dataset.

8. What, if any, challenges do you foresee in cleaning, exploring, or modeling this dataset?

Certain range might be too big. For example the age group (grouped in 4 groups), driving experience (grouped in 4 groups), and vehicle year (grouped in 2 groups).